.carousel {
    height: 400px;

}

.carousel {
    transform: translateX(0px) translateY(0px) translateX(0px) translateX(0px) translateZ(0px);
    z-index: 0;
    opacity: 1;
    visibility: visible;
}

@media (max-width: 700px) {
    .carousel {
        transform: translateX(0px) translateY(0px) translateX(0px) translateX(0px) translateZ(0px);
        z-index: 0;
        opacity: 1;
        visibility: visible;
    }
}
