.profile{
   padding: 1px;

}

html, body{
    display: flex;
    flex-direction: column;
    height:100vh;
    margin :0px;
}

.icon-size{

    font-size: 100px;
}
.parallax-container{
    height: 50%;

}

h3.font-vive{
    font-family: 'Vibes', cursive;

}

