

.page-footer{
    position: static;
    bottom:0;
    left:0;
    width:100%;
}
.algo{
    position:static;
    width:100%;

}

@media (max-width: 386px)  {
    .page-footer{

        bottom:0;
        left:0;
        width:100%;
    }
}